
<%= link_to "Games", games_path %>
<%= link_to "Brackets", brackets_path %>
<%= link_to "Users", users_path %>

<div class="container">
	<h3 class="brackets-title-h3">FPS Brackets</h3>
</div>

<div class="container">
	<div class="row fps-brackets-group">
		<div class="col-12">
			<div class="col-3">
				<div class="col-10 game-background">
					<img src="" alt="">
				</div>
			</div>
			<div class="col-3">
				<div class="col-10 game-background">
					<img src="" alt="">
				</div>
			</div>
			<div class="col-3">
				<div class="col-10 game-background">
					<img src="" alt="">
				</div>
			</div>
			<div class="col-3">
				<div class="col-10 game-background">
					<img src="" alt="">
				</div>
			</div>
		</div>
	</div>
</div>