

<div class="container">
	<div class="col-12">
		<h1>Type 1</h1>
		<h2>Type 2</h2>
		<h3>Type 3</h3>
		<h4>Type 4</h4>
		<h5>Type 5</h5>
		<h6>Type 6</h6>
	</div>
</div>
<div class="container">
	<div class="col-12">

<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<%= link_to "Brackets", brackets_path %>

<ul>
	<% @games.each do |game| %>
	<% @brackets.each do |bracket| %>
	<li><%= game.title %></li>
	<li><%= bracket.title %></li>
	<% end %>
	<% end %>

</ul>

</div>
</div>

<div class="container">
	<div class="col-5">
		<h1><a class="hover-test">Hello</a></h1>
	</div>
	<div class="col-2">
		<h1>Nothing</h1>
	</div>
	<div class="col-5">
		<h1>Hello</h1>
	</div>
</div>

<div class="container">
	<div class="col-2">
		<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore repellat vitae sequi nisi exercitationem sint consequatur necessitatibus illo fuga, fugit nemo, iste! Modi voluptate veniam, delectus ipsum! Vitae minus, nisi, consequatur inventore laborum sapiente quae nostrum et ipsa, alias assumenda! Nobis porro, accusantium eum perspiciatis tempore facilis veritatis voluptas placeat.
	</div>
	<div class="col-5">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolor ipsa, magni quisquam laudantium necessitatibus blanditiis voluptatem atque eum dicta adipisci eligendi, alias cumque eaque eveniet officiis minus. Sequi nesciunt itaque officiis, consequatur. Autem magni illum alias eos ea facilis consequuntur repudiandae quaerat, ut fugiat ex velit odio fugit sunt harum voluptatum eligendi molestias facere nulla expedita. Officia dolor ducimus quas laborum nihil nisi placeat reiciendis earum quos laboriosam. Iste blanditiis cum beatae nam maiores quam ea unde, aperiam assumenda illum soluta dicta cupiditate, laborum eaque sunt ipsa animi, rerum quae. Totam laudantium natus illum iste consequatur! Enim, ullam odit.
	</div>
	<div class="col-5">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas alias architecto pariatur vero eligendi consequuntur saepe laborum asperiores dignissimos molestiae magni, reprehenderit totam eum quo in voluptate quos facere ex cum dolor maxime nemo sequi velit, esse reiciendis! Obcaecati ipsam quibusdam aliquam fuga repellendus unde consequatur maxime amet vitae molestias odio, dolor recusandae quis necessitatibus distinctio velit quae officia cum sequi ea sed est enim porro. Magnam voluptas similique molestias ducimus neque id! Perspiciatis, laboriosam.
	</div>
	<div class="col-8">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est velit corporis maxime unde corrupti dolor esse ducimus vero quia dolores temporibus, dolorum aperiam repellendus doloremque laboriosam libero nulla tempora, reprehenderit laudantium, inventore numquam sapiente obcaecati deleniti pariatur. Consequatur voluptates reiciendis iusto, minima ipsa. Ipsum dicta, hic aperiam perferendis sit nobis autem quibusdam labore laborum sunt, aliquam quod optio explicabo neque molestias alias eum error velit, dignissimos quam corrupti. Iste impedit odit atque, debitis in porro totam architecto nihil, vero ratione molestias et itaque dolores sequi provident tempore nisi quam laudantium voluptatem esse repellendus dolorum ex accusantium! Tempore nemo ad quasi ratione numquam, excepturi minus minima enim. Sed illum corporis ab, quia ut, maxime, quam, nam molestias veritatis ex eos mollitia recusandae deleniti ea consectetur nisi animi. Obcaecati dicta, veniam odit repellendus itaque vitae, adipisci quas reiciendis officiis quod non. In sit, iusto porro voluptatem ducimus culpa adipisci, veritatis quam illo facere recusandae. Maiores libero saepe facilis eaque, in odit porro, eos cum. Minima consequatur tempore molestiae, dolore esse quia quidem ullam corporis illo neque ut laborum sunt libero debitis illum blanditiis, quae assumenda omnis perspiciatis temporibus ipsum. Dolorum, tempora eveniet! Necessitatibus doloribus esse id neque ullam sit, earum sint facere?
	</div>
</div>

<div class="container">
	<div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ab odit corporis consequuntur? Nobis fuga quibusdam quam ratione dignissimos impedit in. Explicabo, aut expedita similique. </div>
	<div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro vel cupiditate voluptatem facere quaerat mollitia quae odio asperiores minus temporibus. Inventore ratione voluptatem possimus accusantium. </div>
	<div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, possimus, id. Qui, quaerat, harum natus veniam reprehenderit magni tempore, aliquam accusantium repudiandae, pariatur deserunt distinctio. </div>
	<div class="col-3">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dolore incidunt eaque qui rerum iure ab fugiat tempora, magnam numquam doloremque, sunt, aspernatur minus non!
	</div>
</div>

<div class="container">
	<div class="col-3"><h1>Hello World!</h1></div>
	<div class="col-3"><h2>Hello World!</h2></div>
	<div class="col-3"><h3>Hello World!</h3></div>
	<div class="col-3"><h4>Hello World!</h4></div>
</div>
<div class="container">
	<div class="col-3"><h5>Hello World!</h5></div>
	<div class="col-3"><h6>Hello World!</h6></div>
	<div class="col-3"><p>Hello World! BaseLine</p></div>
	<div class="col-3"><small>Small!</small></div>
</div>

<%= link_to "Users Path", users_url %>