.brackets-title-h3 {
	color: #000;
	font-weight: 500;
	font-size: 28px;
	letter-spacing: 1.5px;
	text-align: center;
	border: 1px solid black;
	margin: 20px 0px;
	margin: 2vh 0vh;
	padding: 15px 0px;
	padding: 3vh 0vh;
	background-color: #fff;
}