
.main-content {
	background: image-url("stadium7.jpg") center center no-repeat;
	background-size: cover;
	min-height: 105vh;
	min-width: 100vw;
	&:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: -webkit-linear-gradient(to right, rgba(204, 0, 0, .2), rgba(41, 82, 163, .2));
		background-image: linear-gradient(to right, rgba(204, 0, 0, .2), rgba(41, 82, 163, .2));
  }
}

.main-hero {
	position: relative;
	z-index: 100;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 10vh 12vw 25vh 12vw;
	border: 2px solid #fff;
	min-height: 65vh;
	min-width: 50vw;
	background-color: rgba(#000, .5);
	text-align: center;
	vertical-align: center;
	letter-spacing: 2px;
	color: #fff;
	font-weight: 400;
	line-height: 1.25;
	h1 {
		font-weight: 600;
	}
	button {
		padding: 15px 40px;
		background-color: rgba(#fff, .5);
		font-weight: 500;
		&:hover {
			background-color: rgba(#000, .75);
			color: #fff;
		}
	}
}

button.what-is {
	background-color: rgba(#000, .1);
	border: none;
	color: rgba(#fff, .1);
	&:hover {
		color: rgba(#fff, 1);
		background-color: rgba(#000, 0);
	}
}

.main-hero p {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-direction: column;
	align-items: center;
}

.main-hero h1, 
.main-hero p {
	margin-top: 1vh;
	margin-bottom: 1vh;
}


@media screen and (max-width: 768px) {
	.main-hero {
		width: 90vw;
		height: 75vh;
		margin: 0 auto;
	}
}