.fix-image {
	max-height: 50px;
	max-width: 50px;
}

.games-listing {
	border: 2px solid black;
	margin-top: 3vh;
	margin-bottom: 3vh;
	min-height: 40vh;
	background: image-url("pattern1.png") center center repeat;
	background-size: cover;
	color: #fff;
}