
footer {
	vertical-align: top;
	text-align: center;

}

.footer-nav {
	background-color: rgba(#036, 1);
	color: #fff;
	min-height: 50vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.footer-nav {
	ul {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		margin-left: 1vw;
		margin-right: 1vw;
		li {
			display: block;
			margin: 0;
			padding: 0;
			a {
				display: block;
				color: #bfbfbf;
				font-size: .9em;
				padding: 10px 20px;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.footer-nav h5 {
	border-bottom: 1px solid #fff;
	padding-bottom: 1vh;
}

.social-icons ul,
.powered-by ul {
	display: inline-block;
	margin-top: 2vh;
	margin-bottom: 2vh;
	li {
		display: inline-block;
		a {
			font-size: .7em;
				padding: 20px;
		}
		a:hover {
			color: #000;

		}
	}
}

.footer-nav small {
	margin-top: 2vh;
	margin-bottom: 2vh;
}