
nav {
	padding: 10px 0;
	margin: 10px auto;
	text-align: center;
	border: 2px solid #000;
	font-size: 1.2em;
}

ul {
	display: inline-block;
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
		a {
			display: block;
			padding: 15px 20px;
			margin: 0;
			color: #000;
			&:hover {
				cursor: pointer;
				background-color: rgba(#000, .1);
			}
		}
	}
}

ul.logo {

}

ul.main-nav {
	
}

ul.profile {
	
}

.view-brackets {
	display: none;
}

.small-nav {
	display: none;
}


@media (max-width: 1072px) {
	.view-brackets {
		display: inline-block;
	}
	ul.main-nav {
		display: none;
	}
}

@media (max-width: 768px) {
	.small-nav {
		display: block;
	}
	#menu-icon {
		padding: 15px 20px;
	}
	.large-nav {
		display: none;
	}
}