<div class="container">
	<div class="divider">
		More Information
	</div>
</div>	

<div class="container-full footer-nav">
	<footer>
		<div class="col-12">
			<ul>
				<h5>FPS Brackets</h5>
				<li><a href="">Call of Duty: BO3</a></li>
				<li><a href="">Counter Strike: GO</a></li>
				<li><a href="">Halo 5</a></li>
				<li><a href="">Rainbow Six Siege</a></li>
				<li><a href="">Halo: MCC</a></li>
				<li><a href="">Gears of War: UE</a></li>
				<li><a href="">View All FPS Brackets</a></li>
			</ul>
			<ul>
				<h5>MOBA Brackets</h5>
				<li><a href="">League of Legends</a></li>
				<li><a href="">Dota2</a></li>
				<li><a href="">SMITE</a></li>
				<li><a href="">Heroes of the Storm</a></li>
				<li><a href="">View All MOBA Brackets</a></li>
			</ul>
			<ul>
				<h5>More Brackets</h5>
				<li><a href="">Starcraft 2</a></li>
				<li><a href="">Simply Chess</a></li>
				<li><a href="">Rocket League</a></li>
				<li><a href="">View All More Brackets</a></li>
			</ul>
				<ul>
				<h5>Information</h5>
				<li><a href="">FAQ</a></li>
				<li><a href="">Prize Pool Structure</a></li>
				<li><a href="">Bracket Statistics</a></li>
				<li><a href="">Reddit</a></li>
				<li><a href="">Developers</a></li>
			</ul>
			<ul>
				<h5>Profile</h5>
				<li><a href="">My Account</a></li>
				<li><a href="">Invites</a></li>
				<li><a href="">Payment</a></li>
				<li><a href="">History</a></li>
			</ul>
		</div>
		<div class="col-12 social-icons">
			<h3>Social Media & Support</h3>
			<ul>
				<li><a href=""><i class="fa fa-twitter fa-4x"></i></a></li>
				<li><a href=""><i class="fa fa-facebook-square fa-4x"></i></a></li>
				<li><a href=""><i class="fa fa-reddit fa-4x"></i></a></li>
				<li><a href=""><i class="fa fa-life-ring fa-4x"></i></a></li>
			</ul>
		</div>
		<div class="col-12 powered-by">
			<h3>Powered By</h3>
			<ul>
				<li><a href=""><i class="fa fa-html5 fa-4x"></i></a></li>
				<li><a href=""><i class="fa fa-css3 fa-4x"></i></a></li>
				<li><a href=""><i class="fa fa-linux fa-4x"></i></a></li>
				<li><a href=""><i class="fa fa-github fa-4x"></i></a></li>
				<li><a href="http://www.piedpiper.com/"><i class="fa fa-pied-piper-alt fa-4x"></i></a></li>
			</ul>
		</div>
		<div class="col-12 copyright-notice">
			<p><small>&copy; <i class="fa fa-cubes fa-1x"></i> MythicGaming.io 2016</small></p>
		</div>
	</footer>
</div>