<!-- <div class="container">
	<div class="col-12"> -->
		<nav class="large-nav">
			<ul class="logo">
				<li><%= link_to ("<i class='fa fa-cubes fa-1x'></i> Mythic Gaming").html_safe, root_path, class: "navlink-logo" %></li>

			</ul>
			<ul class="main-nav">
				<li><a href="" class="navlink-fps">FPS Brackets</a></li>
				<li><a href="" class="navlink-moba">MOBA Brackets</a></li>
				<li><a href="" class="navlink-more">More Brackets</a></li>
			</ul>
			<ul class="view-brackets">
				<li><a href="" class="navlink-view">View Brackets</a></li>
			</ul>
			<ul class="information">
				<li><a href="" class="navlink-info">Information</a></li>
			</ul>
			<ul class="profile">
				<li><a href="" class="navlink-profile">Sign up | Log in</a></li>
			</ul>
		</nav>
<!-- 	</div>
</div> -->

<nav class="small-nav">
	<div href="" id="menu-icon">&#9776; Menu</div>
	<!-- <ul>
		<li>Home</li>
		<li>Brackets</li>
		<li>Information</li>
		<li>Profile</li>
	</ul> -->
</nav>